$mat-primary: (
    50 : #eae0f1,
    100 : #cab3dd,
    200 : #a780c6,
    300 : #844daf,
    400 : #69269d,
    500 : #4f008c,
    600 : #480084,
    700 : #3f0079,
    800 : #36006f,
    900 : #26005c,
    A100 : #b18dff,
    A200 : #8e5aff,
    A400 : #6b27ff,
    A700 : #5a0eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-accent: (
    50 : #fae6ea,
    100 : #f4c1cb,
    200 : #ec97a8,
    300 : #e46d85,
    400 : #df4e6a,
    500 : #d92f50,
    600 : #d52a49,
    700 : #cf2340,
    800 : #ca1d37,
    900 : #c01227,
    A100 : #fff0f1,
    A200 : #ffbdc3,
    A400 : #ff8a95,
    A700 : #ff707e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
