<section class="py-10 px-5 md:px-10">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
    <div class="flex flex-col justify-center">
      <h1 class="text-3xl md:text-5xl lg:text-6xl font-bold uppercase text-gray-400 mb-5">Your <span class="text-primary">Gateway</span><span class="md:block md:mb-2"></span> to Endless <span class="text-primary">Choices</span></h1>
      <p class="text-gray-500 uppercase">Discover Endless Possibilities and Unbeatable Deals for Every Need</p>
    </div>
    <div class="relative aspect-video">
      <img class="absolute w-full h-full object-contain" src="/assets/images/bg-store.png">
    </div>
  </div>
</section>

<section>
  <products-grid-list [productsList]="productsList" [isLoading]="isLoading" />
</section>
