* {
  margin: 0;
  padding: 0;
}

html,
body,
app-root {
  height: 100%;
}

body {
  overflow-y: scroll;
}

app-root {
  display: block;
}

main {
  flex: auto;
}

section {
  padding: 1rem 0;
  &:first-child:before {
    content: '';
    display: block;
    height: 64px; /* header navbar height */
  }
}
