<mat-toolbar color="transparent">
  <a routerLink="/" class="me-auto">
    <vector-logo />
  </a>
  <button class="ms-3" color="primary" routerLink="/" mat-button>
    Marketplace
  </button>
  <ng-container *ngIf="isLoggedIn; else elseTemplate">
    <button (click)="logout()" mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
  <ng-template #elseTemplate>
    <button class="ms-3" color="primary" routerLink="/login" mat-stroked-button>
      Login
    </button>
    <button class="ms-3" color="primary" routerLink="/register" mat-raised-button>
      Create Account
    </button>
  </ng-template>

</mat-toolbar>
