<mat-toolbar class="fixed top-0 start-0 end-0 z-40 w-full backdrop-blur-md flex">
  <a class="inline-flex items-start" routerLink="/">
    <vector-logo />
    <small class="text-accent font-bold ms-2">Market</small>
  </a>
  <div class="mx-auto"></div>
  <div class="hidden xl:flex">
    <button class="ms-3" color="primary" routerLink="/" mat-button>
      Home
    </button>
    <button class="ms-3" color="primary" routerLink="/products" mat-button>
      Products
    </button>
    <button class="ms-3" color="primary" routerLink="/categories" mat-button>
      Categories
    </button>
    <button class="ms-3" color="primary" routerLink="/subscriptions" mat-button>
      Subscriptions
    </button>
  </div>
  <div class="mx-auto"></div>
  <div class="hidden lg:flex">
    <button class="ms-3" color="primary" mat-button>
      عربي
    </button>
  </div>
  <button color="primary" mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <button color="primary" mat-icon-button>
    <mat-icon>favorite_border</mat-icon>
  </button>
  <button color="primary" mat-icon-button>
    <mat-icon [matBadge]="cartItemCount" matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
  <ng-container *ngIf="isLoggedIn; else elseTemplate">
    <button (click)="logout()" mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="hidden sm:flex">
      <button class="ms-3" color="primary" routerLink="/login" mat-stroked-button>
        Login
      </button>
      <button class="ms-3" color="primary" routerLink="/register" mat-raised-button>
        Create Account
      </button>
    </div>
  </ng-template>
</mat-toolbar>
