<mat-toolbar color="transparent">
  <a class="inline-flex items-end" routerLink="/">
    <vector-logo />
    <small class="text-accent font-bold ms-2 translate-y-1">MARKET</small>
  </a>
  <div class="mx-auto"></div>
  <button class="ms-3" color="primary" routerLink="/" mat-button>
    Home
  </button>
  <button class="ms-3" color="primary" routerLink="/products" mat-button>
    Products
  </button>
  <button class="ms-3" color="primary" routerLink="/categories" mat-button>
    Categories
  </button>
  <button class="ms-3" color="primary" routerLink="/subscriptions" mat-button>
    Subscriptions
  </button>
  <div class="mx-auto"></div>
  <button class="ms-3" color="primary" routerLink="/" mat-button>
    عربي
  </button>
  <button color="primary" routerLink="/" mat-icon-button>
    <mat-icon>favorite_border</mat-icon>
  </button>
  <button color="primary" routerLink="/" mat-icon-button>
    <mat-icon [matBadge]="cartItemCount" matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
  <ng-container *ngIf="isLoggedIn; else elseTemplate">
    <button (click)="logout()" mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
  <ng-template #elseTemplate>
    <button class="ms-3" color="primary" routerLink="/login" mat-stroked-button>
      Login
    </button>
    <button class="ms-3" color="primary" routerLink="/register" mat-raised-button>
      Create Account
    </button>
  </ng-template>

</mat-toolbar>
