.theme-light .mat-mdc-button.mat-mdc-button-base, .theme-light .mat-mdc-raised-button.mat-mdc-button-base, .theme-light .mat-mdc-unelevated-button.mat-mdc-button-base, .theme-light .mat-mdc-outlined-button.mat-mdc-button-base {
  height: 42px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 99px;
  letter-spacing: 1px;
}
