.theme-light .mat-mdc-button.mat-mdc-button-base, .theme-light .mat-mdc-raised-button.mat-mdc-button-base, .theme-light .mat-mdc-unelevated-button.mat-mdc-button-base, .theme-light .mat-mdc-outlined-button.mat-mdc-button-base {
  height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 99px;
}
