<h1 class="text-3xl mb-3">Overview</h1>

<div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
  <mat-card>
    <mat-card-content>
      <div class="flex justify-between items-center">
        <div>
          <div class="mb-1">Categories</div>
          <div class="text-3xl font-bold mb-2">{{ categoriesCount }}</div>
          <a routerLink="/admin">Show details</a>
        </div>
        <div class="flex items-center justify-center bg-violet-100 w-20 h-20 rounded-full">
          <mat-icon color="primary" class="scale-150">folder</mat-icon>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="flex justify-between items-center">
        <div>
          <div class="mb-1">Products</div>
          <div class="text-3xl font-bold mb-2">{{ productsCount }}</div>
          <a routerLink="/admin">Show details</a>
        </div>
        <div class="flex items-center justify-center bg-violet-100 w-20 h-20 rounded-full">
          <mat-icon color="primary" class="scale-150">shopping_cart</mat-icon>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="flex justify-between items-center">
        <div>
          <div class="mb-1">Orders</div>
          <div class="text-3xl font-bold mb-2">{{ ordersCount }}</div>
          <a routerLink="/admin">Show details</a>
        </div>
        <div class="flex items-center justify-center bg-violet-100 w-20 h-20 rounded-full">
          <mat-icon color="primary" class="scale-150">local_shipping</mat-icon>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
